<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Persons</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th> Surname</th>
        <th> Name</th>
        <th> Fathername</th>
        <th> Birthday</th>
        <th> Deadday</th>
        <th> Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person : ${persons}">
        <td><span th:text="${person.surname}">Surname </span></td>
        <td><span th:text="${person.name}">Name </span></td>
        <td><span th:text="${person.fathername}">Fathername </span></td>
        <td><span th:text="${person.birthday}">Birthday </span></td>
        <td><span th:text="${person.deadDay}">Deadday </span></td>
        <td><a th:href="${'/person/' + person.id}">Edit person</a></td>
    </tr>
    </tbody>
</table>
<div style="text-align: center;">
    <a href="/">Main page</a>
</div>

</body>
</html>